# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Data et Models
data/raw/*
data/processed/*
models/*.joblib
models/*.pkl

# Logs
logs/*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Credentials
.env
config.json